<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
</style>

<!-- NavBAR -->
<div class="navigation-bar" role="navigationBar">

    <span>Welcome</span>

    <div class="spacer">
        <h2>Creative Developer</h2>
    </div>

    <table style="font-weight: bolder;">
        <tr>
            <td>{{ustAnimation.a}}</td>
            <td>{{ustAnimation.b}}</td>
        </tr>
        <tr>
            <td>{{ustAnimation.c}}</td>
            <td>{{ustAnimation.d}}</td>
        </tr>
    </table>
    
</div>

<!-- Place your content here -->
<div class="main-content" role="mainContent">

</div>